.ant-modal-body {
  .title {
    font-size: 20px;
  }
  .day {
    font-size: 20px;
    font-weight: bold;
    font-family: 'suit';
  }
  textarea {
    min-height: 80px;
    height: 100px;
  }
  .selec_wrap {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    .react-datepicker-wrapper {
      width: 100%;
      input {
        background: #f8f8f8;
        height: 60px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        font-size: 17px;
      }
    }
  }
  .memo_txt {
    font-size: 16px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ededed;
  }
  .btn_wrap {
    margin-top: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    button {
      height: 50px;
      &.cancel {
        background: #25282f;
        color: #fff;
        border-radius: 15px;
        height: 54px;
        font-size: 18px;
      }
    }
  }
}
